<h1>Customer Details</h1>
<h2>Customer Information</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Mobile</th>
            <th>Landline</th>
            <th>Email 1</th>
            <th>Email 2</th>
            <th>Contact</th>
            <th>Refferal</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ customer.first_name}} {{ customer.last_name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.zipcode }}</td>
            <td>{{ customer.mobile }}</td>
            <td>{{ customer.landline }}</td>
            <td>{{ customer.email_1 }}</td>
            <td>{{ customer.email_2 }}</td>
            <td>{{ customer.contact }}</td>
            <td>{{ customer.referral }}</td>
            <td>{{ customer.notes }}</td>
        </tr>

    </tbody>
</table>
<h2>Jobs</h2>
<table>
    <thead>
        <tr>
            <th>Job #</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td>{{ customer.first_name}} {{ customer.last_name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.zipcode }}</td>
            <td>{{ customer.mobile }}</td>
            <td>{{ customer.landline }}</td>
            <td>{{ customer.email_1 }}</td>
            <td>{{ customer.email_2 }}</td>
            <td>{{ customer.contact }}</td>
            <td>{{ customer.referral }}</td>
            <td>{{ customer.notes }}</td> -->
        </tr>

    </tbody>
</table>