{% extends "base.html" %}    

{% block content %}

<form method="POST" action="">
  {% csrf_token %}
  <div class="form-group">
    {{ form.business_name.label_tag }}
    {{ form.business_name }}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
    </div>
    <div class="form-group col-md-6">
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      {{ form.address.label_tag }}
      {{ form.address }}
      </div>
      <div class="form-group col-md-4">
        {{ form.address_2.label_tag }}
        {{ form.address_2 }}
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.city.label_tag }}
      {{ form.city }}
    </div>
    <div class="form-group col-md-4">
      {{ form.state.label_tag }}
      {{ form.state }}
    </div>
    <div class="form-group col-md-2">
      {{ form.zipcode.label_tag }}
      {{ form.zipcode }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.mobile.label_tag }}
      {{ form.mobile }}
    </div>
    <div class="form-group col-md-3">
      {{ form.landline.label_tag }}
      {{ form.landline }}
    </div>
    <div class="form-group col-md-3">
      {{ form.email_1.label_tag }}
      {{ form.email_1 }}
    </div>
    <div class="form-group col-md-3">
      {{ form.email_2.label_tag }}
      {{ form.email_2 }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.contact.label_tag }}
      {{ form.contact }}
    </div>
    <div class="form-group col-md-6">
      {{ form.referral.label_tag }}
      {{ form.referral }}
    </div>
  </div>
  <div class="form-group">
    {{ form.notes.label_tag }}
    {{ form.notes }}
  </div>
  <input type="submit" value="Save Customer" class="btn btn-primary">
  <button type="submit" class="btn btn-secondary">Save & Start new order <i class="fas fa-chevron-right"></i></button>
</form>
{% endblock %}
