<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">

    <title>Quotifi App | {{ title_text}}</title>
  </head>

  {% include 'nav.html' %}
  <body>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title_text }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                  <a href="{% url 'customer:new_customer' %}"class="btn btn-sm btn-outline-secondary">New Customer</a>
                  <a href="{% url 'orders:new-order' %}" class="btn btn-sm btn-outline-secondary">New Order</a>
              </div>
            </div>
          </div>
      
              {% block content %}

              {% endblock %}
      </div>
    </main>
  </body>
  {% include 'footer.html' %}
  </html>  

